*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--dir-col {
  flex-direction: column;
}

html {
  font-size: 16px;
}

html,
body {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Noto Sans", serif;
  font-size: 16px;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.--button {
  background: #5c8ee5;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.--main-bg {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

.--h1 {
  font-family: "Roboto";
  font-size: 39px;
  font-weight: 700;
  line-height: 45.7px;
  text-align: left;
}

.--h2 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
}

.--regular-16 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.--roboto-18 {
}

.--roboto-r24 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
}
