.header {
  padding: 44px 0;
}
.logo {
  width: 100px;
  height: 36px;
}

.header__links-account,
.header__links-basket {
  background: #1890ff;
  padding: 8px 16px;
  display: inline-flex;
  color: #ffff;
  align-items: center;
}

.header__links-basket {
  color: #595959;
  border: 1px solid #d9d9d9;
  background: #ffffff;
}

.header__links-text {
  display: block;
  margin-left: 4px;
}

.promo__wrapper {
  background: #fff1b8;
  border-radius: 10px;
}

.promo__content {
  width: 538px;
  margin: 62px 0 62px 70px;
}

.promo__content-text {
    display: block;
    margin-top: 29px;
}

.promo__image{
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.restaurant {
    margin-top: 58px;
}
.restaurant__search {
    position: relative;
    top: 0;
    left: 0;
}

.restaurant__search-input {
    min-width: 305px;
    height: 35px; 
    padding: 5px 12px 5px 32px;
    border:none
}
.search__btn {
    position: absolute;
    top: 25%;
    left: 0;
    background: none;
    border: none;
    width: 16px;
    height: 16px;
}

.restaurant__wrapper {
  margin: 44px 0 66px 0;
}

.restaurant__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  
}

.restaurant__list-link {
  display: block;
  color: #000;
  width: 385px;
  display: block;
}

.restaurant__list-card {
  
}

.restaurant__card-rating {
  position: relative;
  left: 30px;
}

.restaurant__card-rating::before {
  content: " ";
  background-image: url("../images/svg/star.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
}
 
.menu {
  margin-left: 35px;
}

.menu__list-link {
  color: #595959;
  margin-left: 15px;
}
.social__list {
}

.social__list-item {
  margin-left: 21px;
}

.footer {
  background: #ffffff;
  padding: 68px 0;
}
